body {
  /*font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;*/
  font-family: "Courier New", Monospace;
  white-space: pre;
  font-size: 20px;
  margin: 0;
  text-align: center;
  background-color: #2980b9;
  color: #ecf0f1;
}
